<div id="topo">
<h1 class="tre"><span class="destaque_sigla_tre">T</span>ribunal <span class="destaque_sigla_tre">R</span>egional <span class="destaque_sigla_tre">E</span>leitoral de Pernambuco</h1>
</div>