/*label.error {
  color: red;
  margin: -11px -3px 9px 240px;
  padding: 10px;
  width: 251px;
  text-align: right;
  display: block;
  
  *margin: -11px -3px 9px -125px;
  *padding-top: 30px;
}
input:focus, textarea:focus {
    background-color: #CEF4C4;
    color: black;
}

fieldset { border:1px solid #DADADA; margin-bottom:20px; padding:20px;}
legend { color:#666666; padding: 0 5px 0 5px;}
*/
p.checkbox-inline input{
	padding:0 0 0 10px;
	width:auto; 
	left:10px;;

}



label {
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 1em;
    font-weight: 500;
 
}

p.checkbox-inline {padding:0 0 0 -12em;}
p.checkbox-inline label     { 
	width:auto; position:relative;  margin: 0 3.5em 0 1em; 
}
#form_busca_avancada p.checkbox-inline input  {
	 width:1em; left:0; position:relative; top:2px; margin: 0 2.5px 0 5px; }
	 
.conta_caracteres {
	left: 210px;
	width:20em;
}

#sistemas_site h1 {text-align:center;}